body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 25px 250px;
    font-size: 20px;
}

header img {
    width: 75px;
    height: auto;
}

a {
    text-decoration: none;
    color: white
}

nav {
    display: flex;
    gap: 50px;
}

.about {
    display: flex;
    background-color: black;
    padding: 25px 250px;
    justify-content: space-between;
    gap: 50px;
}

.about .left {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
