html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9rem;
    background-color: black;
    padding: 2rem 10rem;
}

header .logo {
    height: 75px;
    width: 75px;
}

header nav {
    display: flex;
    gap: 3rem;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

#about-me {
    background-color: black;
    background-image: url("./images/KhirbyCalmaAboutMe.jpg");
    background-size: cover;
    background-position: center top;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 25px;
}

#about-me {
    color: white;
}

#about-me h1 {
    font-size: 3rem;
    margin: 0;
}

#about-me p {
    font-size: 1.125rem;
    width: 45ch;
}

#about-me button {
    background-color: #F7BA00;
    color: white;
    font-size: 1.125rem;
    font-family: inherit;
    font-weight: bold;
    padding: 1em;
    border-radius: 1em;
    border-color: #F7BA00;
}

#projects {
    text-align: center;
    padding: 25px 250px;
}

#projects h1 {
    font-size: 3rem;
    margin: 0;
}

#projects ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#projects figcaption {
    font-size: 1.125rem;
}

#skills {
    text-align: center;
    background-color: #F7BA00;
    padding: 25px 250px;
}

#skills h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
}

#skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 75px;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-logo {
    height: 128px;
    width: auto;
}

#contact {
    background-color: black;
    text-align: center;
    padding: 25px 250px;
}

#contact h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
}

#contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 75px;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-logo {
    height: 128px;
    width: auto;
}

footer {
    text-align: center;
    font-size: 1rem;
    padding: 25px 250px;
    padding: 0;
}