body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    padding: 25px 350px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.header-logo {
    height: auto;
    width: 75px;
}

.header-bar nav {
    display: flex;
    gap: 75px;
}

.header-bar nav a {
    text-decoration: none;
    color: white;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 75px;
}

.about-left {
    color: white;
}

.about-left h1 {
    font-size: 48px;
}

.about-left p {
    font-size: 18px;
}

.about-contact {
    background-color: #F7BA00;
    color: white;
    padding: 12.5px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;;
    font-family: inherit;
}

.about-photo {
    height: auto;
    width: 500px;
}