/* GLOBAL */
html {
    scroll-behavior: smooth;
}

html * {
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, 
section#about-me, 
section#projects,
section#skills,
section#contact-me,
footer {
    padding: 24px 256px;
}

header .logo h1,
section#about-me .hero-textbox h1,
section#projects h1,
section#skills h1,
section#contact-me h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

section#projects .project .description h2,
section#skills .skill h2 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0A0A;
    color: white;
    gap: 24px;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

header nav ol {
    display: flex;
    gap: 24px;
    font-size: large;
    text-align: center;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
}

/* MAIN CONTENT */
main {
    flex: 1;
}

/* ABOUT ME (HERO) */
section#about-me.hero-img {
    background-color: black;
    background-image: url("./images/hero.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

section#about-me .hero-textbox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 32ch;
    color: white;
    background-color: #FFDF00;
    padding: 24px;
    /* CREDIT TO: https://getcssscan.com/css-box-shadow-examples (#89) */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
}

section#about-me .hero-textbox p {
    font-size: large;
}

section#about-me .hero-textbox ul {
    font-size: large;
    list-style-type: disc;
    list-style-position: inside; 
}

/* CREDIT TO: https://getcssscan.com/css-buttons-examples */
section#about-me .hero-textbox button {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

section#about-me .hero-textbox button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  section#about-me .hero-textbox button {
    padding: 0.25em 0.75em;
  }
}

/* PROJECTS */ 
section#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

section#projects .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

section#projects .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

section#projects .project img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
}

section#projects .project .description {
    max-width: 32ch;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section#projects .project .description p {
    text-align: center;
    font-size: large;
}

/* SKILLS */
section#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: lightgrey;
} 

section#skills .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
} 

section#skills .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
} 

section#skills .skill .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
} 

/* CONTACT ME */
section#contact-me h1 {
    color: white;
}

section#contact-me .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #FFDF00;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    padding: 24px;
}

section#contact-me .icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

section#contact-me .icon-links .icon{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
}