/* GLOBAL */
html {
    line-height: 10px;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    gap: 24px;
    padding: 24px;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

header .logo h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

header nav ol {
    display: flex;
    gap: 24px;
    font-size: large;
    text-align: center;
    align-items: center;
}

/* MAIN CONTENT */
main {
    flex: 1;
}

/* ABOUT ME (HERO) */
main section.about-me.hero-img {
    background-color: black;
    background-image: url("./images/hero.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 96px;
}

main section.about-me .hero-textbox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 32ch;
    color: white;
    background-color: rgb(255, 215, 0);
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
}

main section.about-me .hero-textbox h2 {
    font-size: x-large;
    font-weight: bold;
}

main section.about-me .hero-textbox p {
    font-size: large;
}

main section.about-me .hero-textbox ul {
    font-size: large;
    list-style-type: disc;
    list-style-position: inside; 
}

/* CREDIT TO: https://getcssscan.com/css-buttons-examples */
main section.about-me .hero-textbox button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

main section.about-me .hero-textbox button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  main section.about-me .hero-textbox button {
    padding: 0.25em 0.75em;
  }
}

/* PROJECTS */ 
section.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

section.projects .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

section.projects .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

section.projects .project img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    padding: 12px;
}

section.projects .project .description {
    max-width: 32.5ch;
    text-align: center;
}

/* SKILLS */
section.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
    background-color: lightgrey;
} 

section.skills .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
} 

section.skills .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
} 

section.skills .skill .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
} 

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 12px;
    text-align: center;
}